<<<<<<< HEAD
<<<<<<< HEAD
﻿@model List<FAQ>

@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border-bottom">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <img src="~/images/lcmlogo.jpg" height="50">
<head>
    <style>
        body {
            padding-top: 60px;
            margin: 0;
        }

        .container {
            display: flex;
        }

        .navbar {
            background-color: #95A1AF;
            width: 200px;
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

            .navbar img {
                margin: 10px;
            }

        .navbar-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
        }

        .nav-link {
            text-align: center;
            color: white;
            padding: 10px;
            text-decoration: none;
        }

            .nav-link:hover {
                background-color: #333333;
            }

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex justify-content-between w-100">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="CustomerTicket">Your Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li span class="nav-item">
                                <div class="nav-link">
                                    Welcome @User.Identity!.Name
                                    <a class="text-end bi-box-arrow-in-right text-decoration-none text-muted"
                                       asp-controller="Account" asp-action="Logoff" data-toggle="tooltip"
                                       title="Log out"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <h1>FAQs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Question</th>
                <th>Solution</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faq in Model)
            {
                <tr>
                    <td>@faq.CategoryId</td>
                    <td>@faq.Question</td>
                    <td>@faq.Solution</td>
                    <td>
                        <form method="post" asp-controller="FAQ" asp-action="Delete">
                            <input type="hidden" name="faqId" value="@faq.FaqId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
=======
﻿<head>
    <style>
        body {
            padding-top: 60px;
            margin: 0;
        }

        .container {
            display: flex;
        }

=======
﻿<head>
    <style>
        body {
            padding-top: 60px;
            margin: 0;
        }

        .container {
            display: flex;
        }

>>>>>>> 4ff2cf5c261e8efad83bbfb0c784313d2631a33f
        .navbar {
            background-color: #95A1AF;
            width: 200px;
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
        }

            .navbar img {
                margin: 10px;
            }

        .navbar-nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
        }

        .nav-link {
            text-align: center;
            color: white;
            padding: 10px;
            text-decoration: none;
        }

            .nav-link:hover {
                background-color: #333333;
            }

        .content {
            margin-left: 200px;
            padding: 1rem;
        }

        .navbar-nav2 {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="\Images\Logo.png" height="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="CustomerTicket">Your Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="ViewTicket">My Tickets</a>
                </li>
            </ul>
            <ul class="navbar-nav2">
                <li class="nav-item" style="list-style-type: none; display: flex; align-items: center;">
                    <span class="bi bi-box-arrow-in-right text-muted" data-toggle="tooltip" title="Log out" style="margin-right: 5px;"></span>
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<<<<<<< HEAD
>>>>>>> 4ff2cf5c261e8efad83bbfb0c784313d2631a33f
=======
>>>>>>> 4ff2cf5c261e8efad83bbfb0c784313d2631a33f
        .content {
            margin-left: 200px;
            padding: 1rem;
        }

        .navbar-nav2 {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="\Images\Logo.png" height="50"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="CustomerTicket">Your Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ticket" asp-action="AddTicket">New Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQ" asp-action="Details">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="ViewTicket">My Tickets</a>
                </li>
            </ul>
            <ul class="navbar-nav2">
                <li class="nav-item" style="list-style-type: none; display: flex; align-items: center;">
                    <span class="bi bi-box-arrow-in-right text-muted" data-toggle="tooltip" title="Log out" style="margin-right: 5px;"></span>
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
