@model List<FYP.Models.Users> 
@inject IHttpContextAccessor contextAccessor
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 980px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #5555
        }

        h1 {
            color: #FFFFFF;
        }

        p {
            /*text-align: center;
            color: #FFFFFF;*/
            padding: 5px;
            /*font-size: 110%*/
        }

        label {
            display: block;
            margin-bottom: 5px;
            text-align: center;
            color: lightcyan;
            padding: 5px;
            font-size: 120%
        }

        span {
            text-align: center;
            color: #FFFFFF;
            padding: 10px;
            font-size: 120%;
        }

        .container .btn {
            display: inline-block;
            justify-content: center;
            margin-top: 10px;
            padding: 8px 16px;
            border-radius: 4px;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>About You</h1>
        @foreach (var users in Model)
        {
            <p style="text-align:center">
                <label>User ID: </label>
                <span>@users.userId</span>
            </p>
            <p style="text-align:center">
                <label>Email: </label>
                <span>@users.email</span>
            </p>
            <p style="text-align:center">
                <label>Phone Number:  </label>
                <label>Phone Number:</label> @users.phoneNo <a href="/Account/EditProfile" class="bi bi-pencil-square" data-toggle="tooltip" style="color: black"></a>
            </p>
            <p style ="text-align:center">
                <label>Name: </label>
                <span>@users.username </span>
            </p>
            <p style="text-align:center">
                <label>School: </label>
                <span>@users.school</span>
            </p>
        }

        <div class="btn-container">
            <button class="button" onclick="location.href='/Account/EditProfile'">Change Password</button>
        </div>
    </div>
</body>
</html>

