@model List<FYP.Models.Users>

@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <style>
        .card {
            margin-top: 150px;
            width: auto;
            background: #FFFFFF;
            border-radius: 20px;
            padding: 13px;
            
        }

        .btn-primary {
            background-color: #28a745; /* Green color */
            border-color: #28a745; /* Green color */
        }

            .btn-primary:hover {
                background-color: #218838; /* Darker shade of green */
                border-color: #218838; /* Darker shade of green */
            }
    </style>
    <script>
        window.onload = function () {
            document.getElementsByName("searchUserId")[0].value = "";
            document.getElementsByName("searchRole")[0].value = "";
            document.getElementsByName("searchName")[0].value = "";
            document.getElementsByName("searchSchool")[0].value = "";
            document.getElementsByName("searchEmail")[0].value = "";
            document.getElementsByName("searchPhone")[0].value = "";
            
        };
    </script>
</head>
<body>
    <div class="card">
        <form method="get" action="/Account/Users">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchUserId" placeholder="User ID" aria-label="User ID">
                <input type="text" class="form-control" name="searchRole" placeholder="Role" aria-label="Role">
                <input type="text" class="form-control" name="searchName" placeholder="Name" aria-label="Name">
                <input type="text" class="form-control" name="searchSchool" placeholder="School" aria-label="School">
                <input type="text" class="form-control" name="searchEmail" placeholder="Email" aria-label="Email">
                <input type="text" class="form-control" name="searchPhone" placeholder="Phone Number" aria-label="Phone Number">
                
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No employees found.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th style="text-align:center">User ID</th>
                    <th style="text-align:center">Role</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">School</th>
                    <th style="text-align:center">Email</th>
                    <th style="text-align:center">Phone Number</th>
                    <th style="text-align:center">Last Login</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td style="text-align:center">@user.userId</td>
                        <td style="text-align:center">@user.role</td>
                        <td style="text-align:center">@user.username</td>
                        <td style="text-align:center">@user.school</td>
                        <td style="text-align:center">@user.email</td>
                        <td style="text-align:center">@user.phoneNo</td>
                        <td style="text-align:center">@user.last_login.ToLongDateString()</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
