@model List<FYP.Models.Users>
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tickets </title>
    <style>
        .container {
            margin-top: 40px;
            width: auto;
            background: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="container">

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No employee found.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th style="text-align:center">User ID</th>
                    <th style="text-align:center">Role</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">School</th>
                    <th style="text-align:center">Email</th>
                    <th style="text-align:center">Phone Number</th>
                    <th style="text-align:center">Last Login</th>
                </tr>
                @foreach (var users in Model)
                {
                    <tr>
                        <td style="text-align:center">@users.userId</td>
                        <td style="text-align:center">@users.role</td>
                        <td style="text-align:center">@users.username</td>
                        <td style="text-align:center">@users.school</td>
                        <td style="text-align:center">@users.email</td>
                        <td style="text-align:center">@users.phoneNo</td>
                        <td style="text-align:center">@users.last_login</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
