<!--

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Details</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>User ID</th>
                    <td>@Model.UserID</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <th>School</th>
                    <td>@Model.School</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@Model.PhoneNo</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>-->
