@model List<FYP.Models.Ticket>
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #E8E3DF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        p {
            line-height: 1.5;
        }
        .table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }
            .table th, .table td {
                border-bottom: 1px solid black;
                padding: 8px;
            }
        .no-tickets-message {
            text-align: center;
            margin-top: 20px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="container">

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No tickets found.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>User ID</th>
                    <th>Ticket Type</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Date and Time</th>
                    <th>Priority</th>
                    <th>Employee</th>
                    <th>Devices Involved</th>
                    <th>Additional Details</th>
                    <th>Resolution</th>
                </tr>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.UserId</td>
                        <td>@ticket.Type</td>
                        <td>@ticket.Description</td>
                        <td>@ticket.Category</td>
                        <td>@ticket.Status</td>
                        <td>@ticket.DateTime</td>
                        <td>@ticket.Priority</td>
                        <td>@ticket.Employee</td>
                        <td>@ticket.DevicesInvolved</td>
                        <td>@ticket.Additional_Details</td>
                        <td>@ticket.Resolution</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
