@model Ticket
@{
    Layout = "_Ticket";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Ticket Details</h1>

        <div>
            <p>
                <label>Ticket ID: </label>
                <span>@Model.TicketId</span>
            </p>
        </div>
        <div>
            <p>
                <label>User ID: </label>
                <span>@Model.UserId</span>
            </p>
        </div>
        <div>
            <p>
                <label>Type: </label>
                <span>@Model.Type</span>
            </p>
        </div>
        <div>
            <p>
                <label>Description: </label>
                <span>@Model.Description</span>
            </p>
        </div>
        <div>
            <p>
                <label>Category: </label>
                <span>@Model.Category</span>
            </p>
        </div>
        <div>
            <p>
                <label>Status: </label>
                <span>@Model.Status</span>
            </p>
        </div>
        <div>
            <p>
                <label>DateTime: </label>
                <span>@Model.DateTime</span>
            </p>
        </div>
        <div>
            <p>
                <label>Priority: </label>
                <span>@Model.Priority</span>
            </p>
        </div>
        <div>
            <p>
                <label>Employee Name: </label>
                <span>@Model.EmployeeName (@Model.Employee)</span>
            </p>
        </div>
        <div>
            <p>
                <label>Devices Involved: </label>
                <span>@Model.DevicesInvolved</span>
            </p>
        </div>
        <div>
            <p>
                <label>Additional Details: </label>
                <span>@Model.Additional_Details</span>
            </p>
        </div>
        
        <hr>

        <h2>Reason To Escalate Ticket</h2>
        <form method="post" action="/Ticket/EscalateTicket">
            <div class="form-group mb-3">
                <label for="escalate_reason">Escalate Reason:</label>
                <textarea id="escalate_reason" class="form-control" name="escalate_reason" required></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Escalate</button>
            </div>
            
        </form>
    </div>
</body>
</html>