@model Ticket;
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Ticket Details</h1>
            <div>
                <p>
                    <label>Ticket ID: </label>
                    <span>@Model.TicketId</span>
                </p>
            </div>
            <div>
                <p>
                    <label>User ID: </label>
                    <span>@Model.UserId</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Type: </label>
                    <span>@Model.Type</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Description: </label>
                    <span>@Model.Description</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Category: </label>
                    <span>@Model.Category</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Current Status: </label>
                    <span>@Model.Status</span>
                </p>
            </div>
            <div>
                <p>
                    <label>DateTime: </label>
                    <span>@Model.DateTime</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Priority: </label>
                    <span>@Model.Priority</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Employee Name: </label>
                    <span>@Model.EmployeeName (@Model.Employee)</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Devices Involved: </label>
                    <span>@Model.DevicesInvolved</span>
                </p>
            </div>
            <div>
                <p>
                    <label>Additional Details: </label>
                    @if (@Model.Additional_Details == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@Model.Additional_Details</span>
                    }
                </p>
            </div>
            <div>
                <p>
                    <label>Escalate In-Charge: </label>
                    @if (@Model.Escalate_SE == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@Model.Escalate_SE</span>
                    }
                </p>
            </div>
             <div>
                <p>
                    <label>Escalate Reason: </label>
                    @if (@Model.Escalate_Reason == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@Model.Escalate_Reason</span>
                    }
                </p>
            </div>
        
        <hr />

        <h2>Update Ticket</h2>

        <form method="post" action="/Ticket/HAUpdateTicket">
           
            <input type="hidden" name="TicketId" value="@Model.TicketId">

            <div class="form-group mb-3">
                <label for="newStatus">New Status:</label>
                <select class="form-control" id="newStatus" name="newStatus" required>
                    <option value="">Select status update</option>
                    <option value="pending">Pending</option>
                    <option value="logged">Logged</option>
                    <option value="in progress">In Progess</option>
                    <option value="waiting">Waiting for Resolution</option>
                    <option value="resolved">Resolved</option>
                    <option value="closed">Closed</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="Resolution">Resolution:</label>
                <label for="Resolution">(if above status selection is not solved, kindly input - or leave it blank below)</label>
                <textarea id="Resolution" class="form-control" name="Resolution"></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</body>
</html>

