@model List<FYP.Models.Ticket>
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tickets </title>
    <style>
        .container {
            margin-top: 40px;
            width: auto;
            background: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="container">

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No tickets found.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th style="text-align:center">User ID</th>
                    <th style="text-align:center">Ticket Type</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Category</th>
                    <th style="text-align:center">Status</th>
                    <th style="text-align:center">DateTime</th>
                    <th style="text-align:center">Priority</th>
                    <th style="text-align:center">Devices Involved</th>
                    <th style="text-align:center">Additional Details</th>
                    <th style="text-align:center">Resolution</th>
                    <th style="text-align:center">Employee   In-Charge</th>
                </tr>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td style="text-align:center">@ticket.UserId</td>
                        <td style="text-align:center">@ticket.Type</td>
                        <td style="text-align:center">@ticket.Description</td>
                        <td style="text-align:center">@ticket.Category</td>
                        <td style="text-align:center">@ticket.Status</td>
                        <td style="text-align:center">@ticket.DateTime</td>
                        <td style="text-align:center">@ticket.Priority</td>
                        <td style="text-align:center">@ticket.DevicesInvolved</td>
                        <td style="text-align:center">@ticket.Additional_Details</td>
                        <td style="text-align:center">@ticket.Resolution</td>
                        <td style="text-align:center">@ticket.EmployeeName</td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
