@model List<FYP.Models.Ticket>
@using Microsoft.AspNetCore.Http

@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .card {
            margin-top: 10px;
            background: #FFFFFF;
            padding: 20px;
            border: none;
            width: 100%;
        }

        .search-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

            .search-form input[type="text"],
            .search-form select {
                padding: 8px;
                width: 200px;
            }

            .search-form .search-box {
                position: relative;
            }

                .search-form .search-box input[type="text"] {
                    padding-right: 30px; 
                }

            .search-form .cancel-icon {
                display: none;
                position: absolute;
                top: 50%;
                right: 13px;
                transform: translateY(-50%);
                cursor: pointer;
                color: #aaa;
            }

            .search-form input[type="text"]:not(:placeholder-shown) + .cancel-icon {
                display: inline;
            }

            .search-form button {
                padding: 8px 16px;
                color: white;
                border: none;
                cursor: pointer;
            }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .no-tickets-message {
            text-align: center;
            font-weight: bold;
        }
    </style>
    <script>
        window.onload = function () {
            document.getElementsByName("ticketIdQuery")[0].value = "";
            document.getElementsByName("userIdQuery")[0].value = "";
            document.getElementsByName("ticketTypeQuery")[0].value = "";
            document.getElementsByName("statusQuery")[0].value = "";
            document.getElementsByName("priorityQuery")[0].value = "";
            document.getElementsByName("resolutionQuery")[0].value = "";
            document.getElementsByName("employeeQuery")[0].value = "";
        };

        function clearSearchInput(inputName) {
            var searchInput = document.querySelector(`.search-form input[name='${inputName}']`);
            searchInput.value = "";
        };
    </script>
</head>
<body>
    <div class="card">
        <form method="get" action="/Ticket/SearchTicket" class="search-form">
            <div style="position: relative;">
                <input type="text" name="ticketIdQuery" placeholder="Ticket ID" />
                <span class="cancel-icon" onclick="clearSearchInput('ticketIdQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div style="position: relative;">
                <input type="text" name="userIdQuery" placeholder="User ID" />
                <span class="cancel-icon" onclick="clearSearchInput('userIdQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div style="position: relative;">
                <input type="text" name="ticketTypeQuery" placeholder="Ticket Type" />
                <span class="cancel-icon" onclick="clearSearchInput('ticketTypeQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div style="position: relative;">
                <input type="text" name="statusQuery" placeholder="Status" />
                <span class="cancel-icon" onclick="clearSearchInput('statusQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div style="position: relative;">
                <input type="text" name="priorityQuery" placeholder="Priority" />
                <span class="cancel-icon" onclick="clearSearchInput('priorityQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div style="position: relative;">
                <input type="text" name="employeeQuery" placeholder="Employee In-Charge" />
                <span class="cancel-icon" onclick="clearSearchInput('employeeQuery')"><i class="fa fa-times-circle"></i></span>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary bi bi-search" type="submit" ></button>
            </div>
        </form>

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No tickets available.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>Ticket ID</th>
                    <th>User ID</th>
                    <th>Ticket Type</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>DateTime</th>
                    <th>Priority</th>
                    <th>Devices Involved</th>
                    <th>Additional Details</th>
                    <th>Resolution</th>
                    <th>Employee In-Charge</th>
                    <th>Escalate Reason</th>
                    <th>Escalate In-Charge</th>
                </tr>

                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.TicketId</td>
                        <td>@ticket.UserId</td>
                        <td>@ticket.Type</td>
                        <td>@ticket.Description</td>
                        <td>@ticket.Category</td>
                        <td>@ticket.Status</td>
                        <td>@ticket.DateTime</td>
                        <td>@ticket.Priority</td>
                        <td>@ticket.DevicesInvolved</td>

                        @if (ticket.Additional_Details == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@ticket.Additional_Details</td>
                        }

                        @if (@ticket.Resolution == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@ticket.Resolution</td>
                        }

                        <td>@ticket.EmployeeName</td>

                        @if (ticket.Escalate_Reason == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@ticket.Escalate_Reason</td>
                        }

                        @if (ticket.Escalate_SE == 0)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@ticket.Escalate_SE</td>
                        }

                        @if(ticket.Status == "terminated")
                        {                                                    
                            <td>
                                <a href=@Url.Action("Delete", "Ticket", new { TicketId = ticket.TicketId })
                                   onclick="return confirm('Delete Ticket: @ticket.Description?')">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
