@model List<FYP.Models.FAQ>
@{
    Layout = "_Ticket";
}

<!DOCTYPE html>
<html>
<head>
    <title>FAQs</title>
    <style>
        .container {
            margin-top: 30px;
            background: #FFFFFF;
        }
    </style>
</head>
<body>
    <div class="container">

        @if (Model == null || Model.Count == 0)
        {
            <p class="no-tickets-message">No FAQ available.</p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th style="text-align:center">FAQ ID</th>
                    <th style="text-align:center">Question</th>
                    <th style="text-align:center">Solution</th>
                    <th style="text-align:center">Category</th>
                    <th style="text-align:center">Action</th>
                </tr>
           
                @foreach (var fAQ in Model)
                {
                    <tr>
                        <td style="text-align:center">@fAQ.FaqId</td>
                        <td style="text-align:center">@fAQ.Question</td>
                        <td style="text-align:center">@fAQ.Solution</td>
                        <td style="text-align:center">@fAQ.Category</td>

                        @*To be Set to employee and Admin roles only*@
                        @*@if (User.IsInRole("manager"))
                          {
                            <td style="text-align:center">
                                <a href="/FAQ/Delete/@fAQ.FaqId"
                                    style="text-decoration:none; color:indianred"
                                    onclick="return confirm('Delete product "@fAQ.Question?"')">
                                        <i class="bi bi-trash3"></i>
                                </a>
                            </td>
                          }
                          *@
                        <td style="text-align:center">
                            <a href="/FAQ/Delete/@fAQ.FaqId"
                               style="text-decoration:none; color:indianred"
                               onclick="return confirm('Delete product "@fAQ.Question?"')">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
